<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
 http://www.springframework.org/schema/aop 
 http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
	<bean id="diBean" class="me.lv.spring.collection.DiBean">
		<constructor-arg name="name" value="diBean"></constructor-arg>
	</bean>

	<bean id="connectionBean" class="me.lv.spring.collection.CollectionBean">
		<property name="name" value="connectionBean"></property>
		<property name="listProperty">
			<list>
				<value>aaa</value>
				<value>bbb</value>
				<value>ccc</value>
			</list>
		</property>

		<property name="mapProperty">
			<map>
				<entry key="aaa" value="aaa_value"></entry>
				<entry key="bbb" value="bbb_value"></entry>
				<entry key="ccc" value="ccc_value"></entry>
			</map>
		</property>
	</bean>

</beans>